
.banner_bg img {width: 100%;height: 385px;}

.banner {position: relative;}

.banner_content {position: absolute;top: 50%;left: 60%;transform: translate(-50%, -50%);background: rgba(43, 175, 72, 0.71);padding: 30px;}

.banner_content h3 {color: #fff;font-weight: 200;margin-bottom: 20px;}

.banner_content a {background: #fff;color: #2BAF48;text-decoration: none;padding: 9px 17px;border-radius: 15px;}
.bannerSection {
    padding: 70px 0;
}