.single-video .video-thumbnail img {width: 100%;height: 260px;}

.video_page {padding: 60px 0;}

.single-video {
    position: relative;
    margin-bottom: 40px;
}
.single-video-page {
    padding: 60px 0;
}
.video-content {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    background: rgba(43, 175, 72, 0.71);
    padding: 15px 0;
}

.video-content h4 {font-size: 16px;color: #fff;}
.videoPlayButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    color: #2BAF48;
    padding: 5px 30px;
    border-radius: 15px;
    font-size: 35px;
}
.videoPlayButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    border-radius: 25px;
    font-size: 40px;
    background: rgba(43, 175, 72, 0.71);
    line-height: 80px;
}